@font-face {
    font-family: "Maven-Pro";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/MavenPro-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Maven-Pro";
    font-style: normal;
    font-weight: lighter;
    src: url("../fonts/MavenPro-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Maven-Pro";
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/MavenPro-Bold.ttf") format("truetype");
}

body {
    font-family: "Maven-Pro";
    color: #444;
    background-color: #efeff6;
}

button {
    font-family: "Maven-Pro";
    background-color: #007ad9;
    border: none;
    color: white;
    border-radius: 4px;
    padding: 5px 7px;
    margin: 0 2px;
}

a {
    text-decoration: none;
    color: #007ad9;
    font-size: 14px;
}

table {
    width: 100%;
    text-align: left;
}

tr,
th,
td {
    text-align: left;
}

th,
td {
    padding: 5px 10px 5px 10px;
}

.table-data > table {
    border: 1px solid #bbb;
    border-collapse: collapse;
}

.table-data > table > tbody > tr {
    border: 1px solid #bbb;
}

.table-data > table > tbody > tr > th {
    border: 1px solid #bbb;
}

.table-data > table > tbody > tr > td {
    border: 1px solid #bbb;
}

.table-data > table > tbody > tr:nth-child(odd) {
    background-color: #fcfcfc;
}

.table-data > table > tbody > tr:nth-child(even) {
    background-color: #f7f7f7;
}

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModal__Overlay--before-close {
    opacity: 0;
}
