.topnav {
    overflow: hidden;
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 0;
}

.topnav a {
    float: left;
    display: block;
    color: #CCD6E5;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px !important;
    border-bottom: 2px solid transparent;
    margin-bottom: 0;
    margin-right: 40px;
}

.topnav a:hover {
    color: #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
}

.topnav a.active {
    color: #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
}